h1 { color: #F5F3F4; font-family: 'Bitter', serif; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

p { color: #333333; font-family: Georgia, serif; line-height: 28px; margin: 0 0 28px; }

.Login-Register-Logout{
display: flex;
flex-direction: row;
align-content: space-between;
width: max-content;
}

.button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: max-content;
}

.Welcome{
    padding-left: 7%;
}

.card{
    /* background-color: transparent; */
    min-height: 50vh;
    max-width: 280cm;
    margin: 1rem;
    padding: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Own-Account{
    text-justify: center ;
    text-align: center;
    margin: 0%;
    font-size: 85%;
}

.btn{
    color: black;
    background: white;
    border: 1px solid #000000;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
}
.btn:hover{
    color: white;
    background: black;
    border: 1px solid white;
}
.btn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    border: 1px solid white;
    z-index: -1;
}

body{
    background-color: #E5383B !important;
    background-size: cover;
}

.page-item.active .page-link{
    z-index: 3;
    color: #fff !important  ;
    background-color: #D3D3D3 !important;
    border-color: #D3D3D3 !important;
    border-radius: 50%;
    padding: 6px 12px;
}
.page-link{
    z-index: 3;
    color: #A4161A !important;
    background-color: #fff;
    border-color: #A4161A;
    border-radius: 50%;
    padding: 6px 12px !important;
}
.page-item:first-child .page-link{
    border-radius: 30% !important;
}
.page-item:last-child .page-link{
    border-radius: 30% !important;
}
.pagination li{
    padding: 3px;
}
.disabled .page-link{
    color: #A4161A !important;
    opacity: 0.5 !important;
}
